<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

  <div class="container-fluid">
    <div  *ngIf="isSpinnerVisible" class="d-flex justify-content-center align-items-center" style="position: absolute; top: 50%; left: 63%; transform: translate(-50%, -50%);">
      <div class="spinner-border" role="status" style="color: greenyellow;">
        <!-- <span class="" style="color: white;">SF</span> -->
      </div>
    </div>

 <div class="row" style="padding: 20px;">
      <h1 class="mb-3" style="color: #007bff; padding: 13px; width: auto; background-color: #282c30;  border-radius: 20px; font-family: Space Grotesk;">Stripe Foro</h1>
      <div class="mb-3 form-floating d-flex" style="align-items: center; gap: 8px;padding-left: 0px;">
        <!-- Input for stock -->
        <input [(ngModel)]="userInput" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="border-radius: 30px; border: 2px solid #6471ee; width: 73vw;">
        <label for="floatingInput">Stock</label>
        <button  id = "submitBtn" class="btn btn-outline-secondary ms-2" [disabled]="userInput.length === 0"  type="button" (click)="test()" style="color: white;  background-color: #6471ee; font-family: Space Grotesk; margin-right: 10px;">Submit</button>
      </div>
</div>  
 
      <h3 *ngIf="!displayStockCount" style="color:#007bff ; font-family: Space Grotesk;">Popular Stocks</h3>
      <h3 *ngIf="displayStockCount" style="color: #007bff;">Search Results ({{ stockDetails.length }})</h3>
      
      <div class="row" >
        <!-- Loop over stock details -->
        <div *ngIf="displayNoSearchRsults">
         <p style="color: white;">Please try your search again. Stock could not be found. </p>
        </div>
        <div *ngFor="let stock of stockDetails; index as i" class="col-12 col-sm-6 col-lg-4 mb-3" >
          <div class="card p-3" style="position: relative; box-shadow: 0px 0px 7px 1px #6471ee;border-radius: 22px; background-color: #282c30;">
            <div class="card-body">
              <div class="d-flex justify-content-between" style="gap: 80px;">
                <h5 class="card-title" style="font-weight: bolder;font-size: 25px; color: #ffff; font-family: Space Grotesk;">{{ stock.ticker }}
                  <small style="font-size: 0.55em;font-weight: lighter; color: #aba5a5 !important;" class="text-muted">Ticker</small>
                </h5>
                <h6 class="card-text" style="color: #007bff; font-family: Space Grotesk;">${{ stock.prevClose }}
                  <small style="font-size: 0.55em;color: #aba5a5 !important;" class="text-muted">Close</small>
                </h6>
              </div>
              <small class="card-text text-body-secondary" style="font-size: 0.85em; color: #aba5a5 !important;">{{ stock.company }}</small>
             <div>
               <p *ngIf="stock.changePrice.includes('-')" class="text-danger" style="position: absolute; right: 10px; bottom:-7px; font-size: 18px;">
                 ${{ stock.changePrice }}
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                   <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                 </svg>
               </p>
               <p *ngIf="!stock.changePrice.includes('-')" class="text-success" style="position: absolute; right: 10px; bottom:-7px; font-size: 18px;font-family: Space Grotesk;">
                 ${{ stock.changePrice }}
                 <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                   <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                 </svg>
                </p>
                <button type="button" class="btn btn-secondary" data-bs-toggle="popover" title="This data is from the previous trading day's close."  
                data-bs-content="This data is from the previous trading day's close." 
                style="width: 25px; height: 25px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-size: 12px; font-weight: bold; padding: 0; line-height: 1;position: relative;right: 27px;top: 78px;cursor: default; opacity: 0.33;">
                ?
              </button>
               <a class="btn btn-warning mt-3" [attr.id]="stock.ticker" style="position: relative; bottom: 15px; border-radius: 20px;
                      display: flex; justify-content: center; background-color: #ffcc00; color: black; font-family: Space Grotesk;"
                  (click)="bookmarkStocks(stock.ticker, i)">
                  Bookmark
               </a>
             </div>
            </div>
          </div>
        </div>
      </div>

</div>


1163a6b4-83c2-4928-ba6d-c6f419326399