<div class="container-fluid">
    <!-- Row for sidebar and content -->
    <div class="row">
      <!-- Sidebar -->
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <app-sidebar></app-sidebar>
      </div>
      
      <!-- Main content (header and stock exchange content) -->
      <div class="col p-4">
        <!-- Header (e.g., Stock Exchange App title and other content) -->
        <app-header></app-header>
        <!-- Content -->
        <div>
          <h1 class="mb-3">Stock Exchange App</h1>
          
          <div class="mb-3 form-floating d-flex">
            <!-- Input for stock -->
            <input [(ngModel)]="userInput" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Stock</label>
            <button class="btn btn-outline-secondary bi bi-calendar3 ms-2" type="button" (click)="test()">Submit</button>
          </div>
          
          <p>You entered: {{ userInput }}</p>
          <h3 *ngIf="!displayStockCount">Popular Stocks</h3>
          <h3 *ngIf="displayStockCount">Search Results ({{ stockDetails.length }})</h3>
          
          <div class="row">
            <!-- Loop over stock details -->
            <div *ngFor="let stock of stockDetails" class="col-12 col-sm-6 col-lg-4 mb-3">
              <div class="card p-3" style="position: relative;">
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="card-title">{{ stock.ticker }}
                      <small style="font-size: 0.55em;" class="text-muted">Ticker</small>
                    </h5>
                    <h6 class="card-text">${{ stock.prevClose }}
                      <small style="font-size: 0.55em;" class="text-muted">Close</small>
                    </h6>
                  </div>
                  <small class="card-text text-body-secondary">{{ stock.company }}</small>
                  <h6 class="card-text mt-3">{{ stock.lastCloseDate }}</h6>
                 <div>
                   <p *ngIf="stock.changePrice.includes('-')" class="text-danger" style="position: absolute; right: 10px; bottom:-7px; font-size: 18px;">
                     {{ stock.changePrice }}
                     <i class="bi bi-arrow-down-circle-fill"></i>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293z"/>
                     </svg>
                   </p>
                   <p *ngIf="!stock.changePrice.includes('-')" class="text-success" style="position: absolute; right: 10px; bottom:-7px; font-size: 18px;">
                     {{ stock.changePrice }}
                     <i class="bi bi-arrow-down-circle-fill"></i>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                       <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                     </svg>
                   </p>
                   <a href="#" class="btn btn-primary mt-3">Go somewhere</a>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  