<div style="background-color:rgb(31 38 48);display: flex;">
  <!-- <h1>Header {{ title }}</h1> -->
  <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
    <app-sidebar></app-sidebar>
  </div>
  <router-outlet/>
</div>
<app-google-gemini></app-google-gemini>
<!-- <div style="background-color:rgb(40 47 56); display: flex; justify-content: center; position: fixed; bottom: 0; width: 100%; opacity: 0.35; height: 35px;">
  <p style="color: #ffcc00; margin-top: 10px;">Built by Armoni Tigner</p>
</div> -->
